.mui-bar-nav {
	height: 49px;
	color: white;
	background: #20428A;
}

.header-text-line-1 {
	padding-top: 4px;
	font-size: 22px;
}

.mui-content{
	padding-top: 49px !important;
	background-color: white;
}
