/* MUI class */

.mui-slider-indicator {
	bottom: 3px !important;
}

input[type='search'] {
	margin-bottom: 0 !important;
	padding: 5px 19px 0 15px !important;
	width: 98%;
	height: auto !important;
	text-align: left !important;
	font-size: 18px !important;
	border: 0 !important;
	border-bottom: solid #DDDDDD 1px !important;
	background: none !important;
}

.mui-search .mui-placeholder {
	padding-left: 15px !important;
	top: 5px !important;
	font-size: 18px !important;
	line-height: normal !important;
	height: auto !important;
	text-align: left !important;
}

.mui-search .mui-placeholder .mui-icon {
	display: none !important;
}

.mui-search:before {
	content: '' !important;
}

.mui-input-row .mui-input-clear ~ .mui-icon-clear {
	top: 5px !important;
	right: 0 !important;
}


/* new class */

.search-tips {
	font-size: 18px !important;
	margin-bottom: 0 !important;
}

.start-circle {
	width: 21px;
	height: 21px;
	background-color: dodgerblue;
	border-radius: 50%;
}

.pass-circle {
	width: 21px;
	height: 21px;
	background-color: lightsalmon;
	border-radius: 50%;
}

.arrive-circle {
	width: 21px;
	height: 21px;
	background-color: lightseagreen;
	border-radius: 50%;
}

.circle-text {
	height: 21px;
	line-height: 23px;
	font-size: 14px;
	display: block;
	color: #FFF;
	text-align: center;
}

.detail-block {
	margin: 0 -5px;
	padding: 5px 10px;
	background: rgba(255, 255, 255, .85);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}