/*MUI class*/

.mui-card {
	margin: 0 !important;
}

.mui-table-view-cell:after {
	left: 0 !important;
}

.mui-table-view-cell > a:not(.mui-btn) {
	padding: 5px 10px !important;
}

.mui-table-view-cell.mui-collapse .mui-collapse-content {
	padding: 0 15px !important;
}

/*新建class*/

.main-layer {
	padding: 10px 15px 5px 15px;
	height: auto;
	overflow: hidden;
	background-color: white;
	border-bottom: lightgray solid 1px;
}

.result-layer {
	padding: 10px 10px 5px;
	height: auto;
}

.list-timeline > li:last-child {
	padding-bottom: 0 !important;
}