.mui-bar-nav {
	height: 155px;
	color: white;
	background: #20428A;
}

.header-text-line-1 {
	padding-top: 15px;
	font-size: 22px;
}

.header-text-line-1-left {
	float: left;
	text-align: left;
	margin-left: 5px;
	display: inline-block;
}
.header-text-line-1-marker{
	float: right;
	margin-top: -1px;
	text-align: right;
	height: 30px;
	overflow: hidden;
	display: inline-block;
}

.header-text-line-1-right {
	float: right;
	text-align: right;
	margin-right: 5px;
	display: inline-block;
}

.header-weather {
	height: 85px;
	background: #647BAF;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 35px;
}

.header-weather-main {
	padding-top: 15px;
	padding-left: 15px;
	height: 85px;
	width: 40%;
	float: left;
	display: inline;
}

.header-weather-main-current-temperature {
	font-size: 26px;
	text-align: right;
	width:55%;
	float:right;
}

.header-weather-main-current-weather-pic {
	margin-top: 6px;
	float: left;
	display: inline;
	width: auto;
}

.header-weather-main-current-weather-text {
	margin-top: 10px;
	float: right;
	text-align: right;
	display: inline;
	width:55%;
	font-size: 10px;
	overflow: hidden;
	line-height: 13px;
}

.header-weather-sub {
	padding-top: 22px;
	padding-left: 6px;
	height:85px;
	width: 60%;
	float: left;
	display: inline;
}

.header-weather-forcast {
	width: 33%;
	/*margin-left: 20px;*/
	float: left;
	display: inline;
}
.header-weather-forcast-pic{
	text-align: center;
	height:35px;
	overflow: hidden;
}
.adj{
	padding-top: 5px;
}

.header-weather-forcast-text {
	font-size: 10px;
	text-align: center;
	line-height: 6px;
	width:auto;
}

.header-update-time{
	font-size: 10px;
	text-align: right;
	padding-right: 5px;
}