.search-layer {
	height: auto;
	overflow: hidden;
}

.mui-row {
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
}

.tips-style {
	padding-top: 5px;
	font-size: 16px;
	color: dimgray;
}

input[type='search'] {
	width: 78% !important;
	margin-bottom: 0 !important;
	font-size: 16px !important;
	height: 29px !important;
	text-align: left !important;
}

.mui-search input[type='search'] {
	padding-left: 15px !important;
}

.mui-search .mui-placeholder {
	padding-left: 15px !important;
	font-size: 16px !important;
	line-height: 29px !important;
	height: 29px !important;
	text-align: left !important;
}

.mui-search .mui-placeholder .mui-icon {
	display: none !important;
}

.mui-search:before {
	content: '' !important;
}

.mui-input-row .mui-input-clear ~ .mui-icon-clear {
	top: 4px !important;
	right: 22% !important;
}

.search-icon {
	float: right;
	margin-right: 8%;
	margin-top: 5px;
	font-size: 22px !important;
	color: dimgray;
}

.express-information {
	height: auto;
	overflow: hidden;
}

#baseInformation {
	padding: 10px 10px 0 30px;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list > li {
	position: relative;
}

.list-timeline {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 15px;
	padding-bottom: 5px;
	border-top: silver solid 1px;
}

.list-timeline > li {
	padding-bottom: 10px;
}

.list-timeline:before {
	position: absolute;
	top: 0;
	left: 40px;
	bottom: 0;
	display: block;
	width: 2px;
	content: '';
	background-color: #E3E3E3;
	z-index: 1;
}

.list-timeline .list-timeline-icon {
	position: absolute;
	top: 10px;
	left: 28px;
	width: 26px;
	height: 26px;
	padding-top: 5px;
	font-size: 16px !important;
	color: #DDDDDD;
	text-align: center;
	border-radius: 50%;
	border: #CCCCCC solid 1px;
	z-index: 2;
}

.list-timeline .list-timeline-content {
	padding-left: 70px;
}