/*MUI class*/

.mui-row {
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: silver solid 1px;
}

input[type='search'] {
	width: 99% !important;
	margin-bottom: 0 !important;
	font-size: 18px !important;
	height: 30px !important;
	text-align: left !important;
}

.mui-search input[type='search'] {
	padding-left: 15px !important;
}

.mui-search .mui-placeholder {
	padding-left: 15px !important;
	font-size: 18px !important;
	line-height: 32px !important;
	height: 32px !important;
	text-align: left !important;
}

.mui-search .mui-placeholder .mui-icon {
	display: none !important;
}

.mui-search:before {
	content: '' !important;
}

.mui-input-row .mui-input-clear ~ .mui-icon-clear {
	top: 4px !important;
	right: 1% !important;
}


/*新建class*/

#searchLayer {
	height: auto;
	overflow: hidden;
	background-color: white;
}

.tips-style {
	padding-top: 5px;
	font-size: 16px;
	color: dimgray;
}

.search-icon {
	margin-top: 5px;
	font-size: 22px !important;
	color: dimgray;
}

#expressInformation {
	height: auto;
	overflow: hidden;
	background-color: white;
}

.base-information {
	padding: 10px 10px 0 30px;
}

.list-timeline {
	margin-left: 20px !important;
	margin-right: 20px !important;
	padding-top: 15px !important;
	padding-bottom: 5px !important;
	border-top: #E6E6E6 solid 1px;
}

.list-timeline > li {
	padding-bottom: 10px !important;
}

.list-timeline .list-timeline-icon {
	position: absolute;
	top: 10px !important;
	left: 8px !important;
	width: 26px !important;
	height: 26px !important;
	padding-top: 5px !important;
	font-size: 16px !important;
}

#historyExpressInfo {
	height: auto;
	overflow: hidden;
	padding: 10px 10px 10px 15px;
	border-bottom: silver solid 1px;
	background-color: white;
}

#historyExpressInfo table {
	width: 99%;
	color: #9D9DA1;
	text-align: center;
}

.history-record {
	width: 50%;
	text-decoration: underline;
}