.mui-bar-nav {
	height: 49px;
	color: white;
	background: #20428A;
}

.mui-bar-tab {
	background: #EEEEEE;
}

.header-text-line-1 {
	padding-top: 4px;
	font-size: 22px;
}

::-webkit-input-placeholder {
	padding-top: 8px;
	font-size: 30px;
}

input[type="text"] {
	border: 0px;
	text-align: right;
	padding-top: 25px;
	padding-right: 0px;
	width: 95%;
	height: 100%;
	font-size: 30px;
	border: 0px;
}