.input-layer {
	margin-top: 15px !important;
	height: auto;
	margin: auto;
	width: 90%;
	overflow: hidden;
	border-bottom: silver solid 1px;
}

textarea {
	margin-bottom: 10px !important;
	font-size: 14px !important;
	line-height: 18px !important;
}

.larger-icon {
	color: #9D9DA1;
	font-size: 18px !important;
}

.favorites-layer {
	height: auto;
	margin: auto;
	width: 90%;
	padding: 10px 0 10px 0;
	overflow: hidden;
}