/* mui class */

html,
body {
	height: 100% !important;
	min-height: 100%;
}

.mui-bar {
	-webkit-box-shadow: 2px 2px 20px rgba(0, 75, 151, .4) !important;
	box-shadow: 2px 2px 20px rgba(0, 75, 151, .4) !important;
}

.mui-bar-nav {
	height: 49px !important;
	color: white;
	background: rgba(0, 102, 255, .75);
}

.mui-content {
	/*position: relative;*/
	height: auto !important;
	min-height: 99.9%;
	padding-top: 49px !important;
	padding-bottom: 20px !important;
	/*background: url(../images/a8ef76094b36acaf3f37a28d7ed98d1000e99cef.jpg);*/
	/*background-size: 100%;*/
	background-color: #EFEFF4;
}

.mui-btn {
	font-size: 16px !important;
	padding: 3px 6px !important;
}

footer {
	position: relative;
	margin-top: -20px;
	height: 20px;
	clear: both;
	width: 100%;
	background-color: #EFEFF4;
}


/* new class */

.header-text {
	padding-top: 3px;
	height: 100%;
	width: 100%;
}

.mui-row > [class*='mui-col-'] > p {
	word-break: break-word;
}

.hidden-select {
	opacity: 0;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

.search-block {
	margin: 0 0 5px;
	padding: 5px 0 12px;
	background: rgba(255, 255, 255, .9);
	border-radius: 5px;
	border: rgba(0, 0, 0, .1) solid 1px;
	height: auto;
}

.search-key {
	margin: -6px 0 0;
	padding: 5px 10px;
	background: rgba(0, 0, 0, .05);
	height: auto;
}

.button-padding {
	padding-top: 8px !important;
	padding-bottom: 3px !important;
}

.resultInfo {
	padding: 5px 5px 0;
	border-radius: 5px;
	/*border: #DDDDDD solid 1px;*/
}

.result-block:last-child {
	border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
	padding-bottom: 5px !important;
}

.result-block {
	margin: 0 -5px;
	padding: 5px 10px;
	background: rgba(255, 255, 255, .85);
	border-bottom: #DDDDDD solid 1px;
}

.topButton {
	/* 回到顶端按钮div样式 */
	position: fixed;
	bottom: 60px;
	right: 5px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .5);
	border: #C7C7CC solid 1px;
	text-align: center;
}

.buttonIcon {
	/* 回到顶端按钮icon样式 */
	height: 26px;
	line-height: 26px;
	font-size: 16px;
	color: #999999;
}

.footer-info {
	font-size: 13px;
	font-weight: 200;
	text-align: center;
	color: dimgray;
}

.font-s16 {
	font-size: 16px !important;
}

.font-s18 {
	font-size: 18px !important;
}

.color-white {
	color: white !important;
}

.color-black {
	color: black !important;
}

.color-success {
	color: green !important;
}

.color-danger {
	color: red !important;
}

.color-warning {
	color: darkorange !important;
}

.remove-margin {
	margin: 0 !important;
}

.remove-margin-l {
	margin-left: 0 !important;
}

.remove-margin-r {
	margin-right: 0 !important;
}

.remove-margin-b {
	margin-bottom: 0 !important;
}

.remove-margin-t {
	margin-top: 0 !important;
}

.remove-padding {
	padding: 0 !important;
}

.remove-padding-l {
	padding-left: 0 !important;
}

.remove-padding-r {
	padding-right: 0 !important;
}

.remove-padding-b {
	padding-bottom: 0 !important;
}

.remove-padding-t {
	padding-top: 0 !important;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left !important;
}

.align-center {
	text-align: center !important;
}

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.padding-10-l {
	padding-left: 10px !important;
}

.padding-20-l {
	padding-left: 20px !important;
}

.padding-30-l {
	padding-left: 30px !important;
}

.padding-10-r {
	padding-right: 10px !important;
}

.padding-20-r {
	padding-right: 20px !important;
}

.padding-5-t {
	padding-top: 5px !important;
}

.padding-10-t {
	padding-top: 10px !important;
}

.padding-5 {
	padding-bottom: 5px !important;
}

.padding-10 {
	padding-bottom: 10px !important;
}

.border-b {
	border-bottom: #DDDDDD solid 1px;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list > li {
	position: relative;
}

.list-timeline {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: #E6E6E6 solid 1px;
}

.list-timeline > li {
	padding-bottom: 5px;
}

.list-timeline:before {
	position: absolute;
	top: 0;
	left: 20px;
	bottom: 0;
	display: block;
	width: 2px;
	content: '';
	background-color: #F0F0F0;
	z-index: 1;
}

.list-timeline .list-timeline-icon {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 22px;
	height: 22px;
	padding-top: 4px;
	font-size: 12px !important;
	color: #DDDDDD;
	text-align: center;
	border-radius: 50%;
	border: #E6E6E6 solid 1px;
	z-index: 2;
}

.list-timeline .list-timeline-content {
	padding-left: 50px;
}