#mapDiv {
	width: 100%;
	border-bottom: #DDDDDD solid 1px;
}

#infoDiv {
	width: 100%;
	height: auto;
	background: rgb(255, 255, 255);
}

.mapDataInfo {
	width: 100%;
	height: auto;
	position: fixed;
	top: 78%;
	bottom: 0px;
	margin-top: 49px;
	background: #FFFFFF;
}

.list-layer {
	width: 100%;
	height: auto;
	background: #FFFFFF;
}

.row-module {
	height: auto;
	padding: 12px 20px 7px 20px;
	background-color: white;
	border-bottom: #DDDDDD solid 1px;
	overflow: hidden;
}

.place-name {
	font-size: 16px !important;
	font-weight: 500 !important;
	color: #333333 !important;
}

.place-address {
	font-size: 14px !important;
	margin-bottom: 0 !important;
}

.turn-page {
	color: #999999;
	font-size: 14px;
}