.mui-slider-item {
	border-bottom: 0px !important;
}

.mui-input-group {
	margin-left: -5px;
	margin-right: -5px;
}

.result-layer {
	padding: 5px 15px 10px 15px;
}

.station-name {
	font-size: 18px !important;
	color: #000000 !important;
	margin: 0 !important;
}

.time-info {
	font-size: 16px !important;
	color: #000000 !important;
	margin: 0 !important;
}

.time-info-small{
	font-size: 14px !important;
	color: #000000 !important;
	margin: 0 !important;
}
