/*MUI class*/

.mui-slider-item {
	border-bottom: 0px !important;
}

.mui-input-group {
	margin-left: 0px;
	margin-right: 0px;
}

.mui-button-row {
	padding-top: 8px !important;
}

.mui-input-group .mui-button-row {
	height: 48px !important;
}


/*新建class*/

.result-layer {
	padding: 5px 15px 10px 15px;
}

.station-name {
	font-size: 18px !important;
	color: #000000 !important;
	margin: 0 !important;
}

.tips-info {
	font-size: 18px !important;
	color: #000000 !important;
	margin: 0 !important;
}

.tips-info-small {
	font-size: 16px !important;
	color: #000000 !important;
	margin: 0 !important;
}

.station-select {
	padding: 5px 15px 3px 15px;
	background-color: white;
	/*border-bottom: silver solid 1px;*/
}

.select-style {
	font-size: 18px;
	font-weight: 300;
	padding-left: 15px;
	margin: 0 !important;
}

.start-circle {
	width: 20px;
	height: 20px;
	background-color: dodgerblue;
	border-radius: 25px;
}

.pass-circle {
	width: 20px;
	height: 20px;
	background-color: lightsalmon;
	border-radius: 25px;
}

.arrive-circle {
	width: 20px;
	height: 20px;
	background-color: lightseagreen;
	border-radius: 25px;
}

.circle-text {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	display: block;
	color: #FFF;
	text-align: center
}

.list-block {
	border-bottom: silver solid 1px;
}