/* new class */

.weather-location {
	margin: 8px 15px 0 !important;
	color: #555555;
	font-size: 20px;
}

.weather-main {
	height: auto;
	background: rgba(255, 255, 255, .9);
	border-radius: 5px;
	border: rgba(0, 0, 0, .1) solid 1px;
}

.opacity-layer {
	margin: 5px 5px 0;
	padding: 5px 10px 0;
	height: auto;
	color: white;
	background: rgba(0, 0, 0, .2);
	border-radius: 5px;
}

.slider-content {
	margin: 10px 5px 0;
}

.today-tips {
	padding: 5px 10px;
	border-top: #DDDDDD solid 1px;
}

.today-tips p {
	margin-bottom: 0 !important;
	color: #555555;
	line-height: 18px;
	font-size: 14px;
}

.aqi-first {
	color: limegreen;
	font-weight: 600;
}

.aqi-second {
	color: #FFFF00;
	font-weight: 600;
}

.aqi-third {
	color: #EC971F;
	font-weight: 600;
}

.aqi-forth {
	color: #FF5053;
	font-weight: 600;
}

.aqi-fifth {
	color: crimson;
	font-weight: 600;
}

.aqi-sixth {
	color: #8B0000;
	font-weight: 600;
}