.mui-bar-nav {
	height: 49px;
	color: white;
	background: #20428A;
}

.mui-bar-tab {
	background: #EEEEEE;
}

.mui-icon-close-filled {
	padding-right: 10px;
	padding-bottom: 10px;
	color: gray;
}

.header-text-line-1 {
	padding-top: 4px;
	font-size: 22px;
}

.base-div {
	background: white;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgrey;
}

.guide-text-left {
	font-size: 15px;
	color: gray;
	text-align: left;
	width: 35%;
}

.guide-text-right {
	font-size: 15px;
	color: gray;
	text-align: right;
	width: 35%;
}

.guide-change-button {
	text-align: center;
	vertical-align: middle;
	color: gray;
	padding-top: 0px;
	width: 30%;
}

.button-text {
	font-size: 26px;
	padding: 0px;
	width: 100%;
	border: 0px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.search-button {
	height: 40px;
	width: 80%;
	top: 5px;
	font-size: 16px;
}

.base-table {
	border: 0;
	width: 90%;
	margin: auto;
}

.change-button {
	border: 0px;
	height: 100%;
}

.mui-icon {
	font-size: 20px;
}

.mui-icon-back {
	color: white;
}

.text-tr {
	height: 24px;
	font-size: 26px;
	width: 35%;
}

.line-tr {
	height: 1px;
	width: 35%;
}

.search-td {
	height: 60px;
	text-align: center;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 1px;
	text-align: center;
	color: gray;
	overflow: hidden;
	font-size: 14px;
}