/* MUI class */

textarea {
	margin-bottom: 15px !important;
	font-size: 18px !important;
	line-height: 18px !important;
	border-radius: 5px;
}


/* common class */

.button-padding {
	padding-top: 3px !important;
	padding-bottom: 6px !important;
}


/* new class */

.main-content {
	margin-bottom: 5px;
	height: auto;
	width: 100%;
	background: rgba(255, 255, 255, .9);
	border: rgba(0, 0, 0, .1) solid 1px;
	overflow: hidden;
}

.input-layer {
	margin-top: 12px !important;
	height: auto;
	margin: auto;
	width: 94%;
	overflow: hidden;
	/*border-bottom: silver solid 1px;*/
}

.larger-icon {
	color: #9D9DA1;
	font-size: 20px !important;
}

#favoritesLayer {
	height: auto;
	margin: auto;
	width: 90%;
	padding: 10px 0 10px 0;
	overflow: hidden;
}

.textInput {
	position: relative;
}

.clear-icon {
	position: absolute;
	font-size: 20px;
	right: 10px;
	top: 10px;
	color: #999;
	z-index: 2;
}

.delete-icon {
	font-size: 16px;
	color: #999;
}

.readonly-text {
	border: solid 0px;
	background-color: #F0F0F0;
}