/* MUI class */

input[type='search'] {
	margin-bottom: 0 !important;
	font-size: 18px !important;
	height: 32px !important;
	text-align: left !important;
	background: rgba(255, 255, 255, .9);
	border-radius: 0 !important;
}

.mui-search input[type='search'] {
	padding-left: 15px !important;
	padding-right: 30px !important;
}

.mui-search .mui-placeholder {
	padding-left: 15px !important;
	top: 2px !important;
	font-size: 18px !important;
	line-height: 28px !important;
	height: 32px !important;
	text-align: left !important;
}

.mui-search .mui-placeholder .mui-icon {
	display: none !important;
}

.mui-search:before {
	content: '' !important;
}

.mui-input-row .mui-input-clear ~ .mui-icon-clear {
	top: 5px !important;
	right: 0px !important;
}


/* common class */

.search-block {
	margin-bottom: 0 !important;
	padding-bottom: 5px !important;
}


/* new class */

.label-tip {
	width: 100%;
	height: 28px;
	line-height: 30px;
	padding-left: 15px;
	border-right: #DDDDDD solid 1px;
}

.poi-search {
	width: 88%;
	padding: 5px 0 5px;
	background: rgba(255, 255, 255, .9);
	border: rgba(0, 0, 0, .1) solid 1px;
	height: auto;
	position: absolute;
	top: 54px;
	left: 6%;
	z-index: 2;
}

.icon-style {
	padding-top: 3px;
	font-size: 20px;
	color: #555555;
}

.floatIcon {
	position: fixed;
	bottom: 105px;
	right: 5px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .9);
	border: #C7C7CC solid 1px;
	text-align: center;
}

.buttonIcon {
	height: 26px;
	line-height: 28px;
	font-size: 16px;
	color: #777777;
}

.address-block {
	width: 100%;
	height: auto;
	padding: 8px 15px 5px 15px;
	background: rgb(255, 255, 255);
	border: #DDDDDD solid 1px;
}

.hisInfo {
	width: 100%;
	margin-top: 5px;
	background: rgb(255, 255, 255);
}

.his-row{
	padding: 5px 10px 3px;
	border-bottom: #DDDDDD solid 1px;
}

.searchIcon{
	font-size: 14px;
	line-height: normal;
}
